.page-header {
	background-color: #690521;
	color: white;
	padding: 20px 50px 10px 50px;
	margin-bottom: 20px;
}
.IT {
	font-size: 18px;
	text-align: center;
	color: #e9e8d5;
	background: rgba(0,0,0,.5);
	width: 220px;
	padding: 3px;
}
.nav-link {
	border-left: 1px dotted #bfbfbf;
}
button {
	background-color: #b30738;
	color: white;
}
button:hover {
	background-color: #980630;
}