<div id="bugModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">bug name</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div><b>Bug Type: </b><span class="bug-type">bug type</span></div>
        <div><b>Status: </b><span class="bug-status">status</span></div>
        <div><b>Contact Info: </b><span class="bug-email">email</span></div>
        <div><b>Description: </b><p class="bug-description">description</p></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>