{% extends 'base.html' %}

{% block title %}Developer{% endblock %}
{% block header %}Developer{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-9">
      {% include 'table.html' %}
    </div>

    <div class="col-md-3">
      <!-- Column of Developer specific functions -->
      <h4><b>Developer Functions</b></h4>
      <br>
      <form>
        <div class="form-group">
          <label for="changed-severity">Severity</label>
          <select class="form-control" id="changed-severity">
            {% for severity in severities %}
            <option value = "{{ severity }}">{{ severity }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="center-block">
          <button type="button" class="btn" onclick="changeSeverity()">Change Severity</button>
        </div>
      </form>
      <form>
        <div class="form-group">
          <label for="changed-status">Bug Status</label>
          <select class="form-control" id="changed-status">
            {% for status in statuses %}
            <option value = "{{ status }}">{{ status }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="center-block">
          <button type="button" class="btn" onclick="changeStatus()">Change Status</button>
        </div>
      </form>
    </div>
  </div>

  <script>
    function changeStatus() {
      let status = document.getElementById("changed-status");
      let toChange = document.getElementsByClassName("bugEntry");
      let promises = [];

      for (let elem of toChange) {
        if (elem.checked) {
          promises.push(
            fetch('/bug/update', {
              method: "POST",
              headers: {
                "Content-Type": 'application/json'
              },
              body: JSON.stringify({
                status: status.value,
                bug_id: elem.value
              })
            })
          );
        }

        Promise.all(promises).then(() => {
          window.location.reload();
        });
      }
    }

    function changeSeverity() {
      let severity = document.getElementById("changed-severity");
      let toChange = document.getElementsByClassName("bugEntry");
      let promises = [];

      for (let elem of toChange) {
        if (elem.checked) {
          promises.push(
            fetch('/bug/update', {
              method: "POST",
              headers: {
                "Content-Type": 'application/json'
              },
              body: JSON.stringify({
                severity: severity.value,
                bug_id: elem.value
              })
            })
          );
        }

        Promise.all(promises).then(() => {
          window.location.reload();
        });
      }
    }
  </script>
{% endblock %}
