{% extends 'base.html' %}

{% block title %}FAQs{% endblock %}
{% block header %}FAQs{% endblock %}

{% block content %}
<div class="col-md-12">
  <!-- FAQ section -->
  <div>
    <p><b>Q: How do I report a bug I found?</b></p>
    <p>Click on the page in the menu titles "Bug Report Form" and input your information.</p>
    <br><br>
    <p><b>Q: What classifies as a bug?</b></p>
    <p>A bug is an error or failure due to something related to the platform you are on that causes a wrong or unexpected response or if the system doesn't work correctly. Bugs do NOT relate to problems with wifi.</p>
    <br><br>
    <p><b>Q: What do the different statuses mean?</b></p>
    <p><i>Submitted</i>: The bug has been submitted and is waiting to be assigned to a tester by the manager.</p>
    <p><i>Reproduced</i>: The tester was able to recreate the bug and is waiting to be assigned to a developer to fix the bug.</p>
    <p><i>Fixed</i>: The developer has made the necessary changes in order to remove the bug from the system and is waiting to be assigned to a tester to make sure the whole system works with the new fix.</p>
    <p><i>Tested</i>: The tester has made sure the system works with the new fix and is waiting for manager approval to close the issue.</p>
    <p><i>Closed</i>: The bug has been fixed.</p>
    <br><br>
    <p><b>Q: How do I set the severity of the bug I submit?</b></p>
    <p>We have our technology department set the priority based on certain factors such as time it will take and the difficulty of accurately fixing the bug. No need to worry about the severity!</p>
    <br><br>
    <p><b>Q: Can I contact the person who is working on my bug?</b></p>
    <p>You may email the person you see in the Bug History page; however, if the person has any questions they will contact you for clarification.</p>
    <br><br>
    <p><b>Q: What if the platform the bug occured on isn't an option on the form?</b></p>
    <p>We are currently working on creating the capability to submit bugs from other SCU platforms, check back later!</p>
    <br><br>
    <p><b>Q: How do I find the bugs I have submitted?</b></p>
    <p>Currently working on bringing features like searching the bug history to you soon!</p>
    <br><br>
    <p><b>Q: What if my question isn't on this page?</b></p>
    <p>Feel free to <a href="/contact">contact us</a></p>
    <br><br>
  </div>
</div>

{% endblock %}
