{% extends 'base.html' %}
  
{% block title %}Bug History{% endblock %}
{% block header %}Bug History{% endblock %}

{% block content %}
  <div class="row">
    {% include 'table.html' %}
    <div class="col-lg-4">
      <!-- Column for FAQs and search -->
      <!-- Search form -->
      <form class="form-inline ">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input class="form-control form-control-sm" type="text" placeholder="Search" aria-label="Search">
      </form>
      <br>
      <!-- FAQ section -->
      <div>
        <h4><b>FAQs</b></h4>
        <p><b>Q: How do I find the bugs I have submitted?</b></p>
        <p>In the search bar, enter email:[your email address] and press enter.</p>
        <br>
      </div>

    </div>
  </div>
{% endblock %}