{% extends 'base.html' %}

{% block title %}SCU IT Home{% endblock %}
{% block header %}Information Technologies{% endblock %}

{% block content %}
<div class="col-md-12">
  <!-- FAQ section -->
  <div>
    <br>
    <h2>About Information Services</h2>
    <p>Information Services supports the university community in their use of technology and information resources.</p>
    <p>Information Services is made up of four units: Academic Technology, the Information Security Office, Information Technology, and the University Library.</p>
    <br><br>
    <h4>Academic Technology</h4>
    <p>Academic Technology (Media Services, the Technology Help Desk, Technical Support Services, and Technology Training) supports and facilitates the application of media technology and non-print media resources to support and enhance teaching, learning, scholarship, and administrative services, as well as other campus activities and events.</p>
    <br>
    <h4>Information Security Office</h4>
    <p>The mission of the Information Security Office is to support Santa Clara University’s outstanding undergraduate, graduate, and research programs by protecting the university’s information assets.</p>
    <br>
    <h4>Information Technology</h4>
    <p>Information Technology (IT) provides support for institutional computing and information technology needs. IT supports enterprise computing, networks, and telecommunications.</p>
    <br>
    <h4>University Library</h4>
    <p>The Library advances the University's mission to educate engaged and accomplished citizens through our dynamic services and unique, extensive collections. Our community-focused staff are integral partners in creating and cultivating physical and virtual learning environments for open inquiry and academic excellence.</p>
    <br><br><br>
  </div>
</div>

{% endblock %}
